/.env
/apachelogs/*
!/apachelogs/.gitkeep
/cert_logs/*
!/cert_logs/.gitkeep
/certs/*
!/certs/.gitkeep
/database/data/*
!/database/data/.gitkeep
/database/init.sql/*
!/database/init.sql/.gitkeep
/maildata/dms/config/*
!/maildata/dms/config/.gitkeep
/maildata/dms/mail-data/*
!/maildata/dms/mail-data/.gitkeep
/maildata/dms/mail-logs/*
!/maildata/dms/mail-logs/.gitkeep
/maildata/dms/mail-state/*
!/maildata/dms/mail-state/.gitkeep
/symfonylogs/*
!/symfonylogs/.gitkeep